@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter');

:root {
    /* Colors */
  --primary-color: #2BA84A;
  --secondary-color: #2D3A3A ;
  --accent1-color: #248232;
  --accent2-color: #040F0F;

  /* Fonts */
  --heading-font: "DM Serif Text";
  --paragraph-font: "Inter", Helvetica, sans-serif;
}

body {
    background-color: var(--secondary-color);
    background-image: linear-gradient(to top, var(--primary-color), 20%, var(--secondary-color));
    color: var(--primary-color);
    padding: 0;
    margin: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Dropdown menu */
/* Dropdown button on hover & focus */
#home-pic:hover {
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  grid-column: 1/2;
  grid-row: 2/3;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--secondary-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--primary-color);
  font-family: var(--paragraph-font);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: var(--accent2-color);}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 

/* End of dropdown menu */

#nav-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 1fr 5fr;
}

#home-pic {
    height: 100px;
}

#nav-btns {
    display: flex;
    grid-column: 3/4;
    grid-row: 2/3;
    margin: 0 auto;
    align-self: center;
}

#nav-btns a {
    margin: 25px;
    padding: 10px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    text-align: center;
    text-decoration: none;
    font-family: var(--paragraph-font);
    border-radius: 5px;
}

#nav-btns a:hover {
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

.intro-grid {
    display: grid;
    height: 700px;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 200px 300px 200px;
}

.intro-grid h1 {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 115px;
    font-family: var(--heading-font);
}

.intro-grid p {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 30px;
    margin-right: 25px;
    font-family: var(--paragraph-font);
}

.intro-grid img {
    grid-column: 3/4;
    grid-row: 1/4;
    height: 600px;
    border: #248232 solid 5px;
    border-radius: 15px;
}

.image-carousel-grid {
    display: grid;
    grid-template-columns: 1fr 50px 2fr 50px 1fr;
    overflow: hidden;
}

.image-carousel-container {
    grid-column: 3/4;
    display: flex;
    
    width: 300%;
    height: 100%;
    position: relative;
    animation: slideshow 20s infinite;
}

.image img {
    width: 100%;
    height: 450px;
    border: #248232 solid 10px;
    border-radius: 5px;
}

@keyframes slideshow {
    0%, 10% { left: 0; }
    15%, 25% { left: -60%; }
    30%, 40% { left: -120%; }
    45%, 55% { left: -180%; }
    60%, 70% { left: -120%; }
    75%, 85% { left: -60%; }
    90%, 100% { left: 0; }
}

.contact-me-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr; 
}

.contact-me-grid h2 {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 80px;
    margin-top: 40px;
    padding: 0;
    justify-self: center;
    font-family: var(--heading-font);
}

#contact-me-form {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 40px;
}

#name-input input, #email-input input, #text-input textarea{
    width: 100%;
    margin: 15px;
    font-size: 20px;
    background-color: var(--accent2-color);
    color: var(--primary-color);
    font-family: var(--paragraph-font);
}

#text-input {
    height: 200px;
}

#text-input textarea {
    resize: none;
}

#submit-btn {
    display: flex;
    padding-top: 100px;
    justify-content: center;
}

#submit-btn button {
    font-size: 20px;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    font-family: var(--paragraph-font);
}

#submit-btn button:hover {
    font-size: 20px;
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 10fr;
    margin: 50px 20px 0 20px;
    background-color: var(--primary-color);
    height: 150px;
    width: auto;
}

#linkedin-icon, #facebook-icon {
    justify-self: center;
    align-self: center;
}

#linkedin-icon img, #facebook-icon img {
    height: 75px;
    background-color: white;
    justify-content: center;
}

#site-plan {
    justify-self: left;
    align-self: center;
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--heading-font);
}

#site-plan a {
    text-decoration: none;
    color: var(--secondary-color);
}

#site-plan a:hover {
    color: var(--accent2-color);
}

/* Portfolio.html */

main h1 {
    text-align: center;    
    font-size: 100px;
    font-family: var(--heading-font);
}

.portfolio-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    margin-bottom: 10em;
}

.proj-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proj-card img {
    height: 25em;
    margin-bottom: 0;
    border: solid var(--primary-color);
    border-width: 10px 10px 10px 10px;
    box-shadow: 5px 0 6px var(--accent2-color);
}

.proj-card div {
    background-color: var(--secondary-color);
    box-shadow: 5px 10px 6px var(--accent2-color);
}

.proj-card h3 {
    text-align: center;
    font-size: 40px;
    margin: 0;
}

.proj-card div p {
    padding: 0 15px 0 15px;
    width: 30em;
    font-family: var(--paragraph-font);
    font-size: 20px;
}

#github {
    text-align: center;
}

#github a {
    justify-self: center;
    align-self: center;
}

#github a img {
    max-height: 8em;
    border-radius: 5em;
}

#github div {
    justify-self: center;
    color: var(--accent2-color);
    font-family: var(--paragraph-font);
}

/* resume.html */

#hero {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 1fr 3fr;
    grid-template-rows: repeat(1fr, 3);
}

#hero-box {
    grid-column: 1/6;
    grid-row: 1/4;   
    z-index: -1; 
}

#hero-box img {
    width: 100%;
}

#head-shot {
    grid-column: 3/4;
    grid-row: 2/3;
    border: var(--primary-color) solid 5px;
    border-radius: 5em;
}

#hero-msg {
    grid-column: 2/5;
    grid-row: 3/4;
    height: 9em;
    color: var(--accent2-color);
    font-family: var(--heading-font);
    font-size: 1.4em;
    text-align: center;
    background-color: var(--accent1-color);
    align-content: center;
    margin: 25px 0 25px 0;
}

.resume-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 2em 0 2em;
}

.resume-grid h2 {
    font-family: var(--heading-font);
    font-size: 3em;
}

.main-ul {
    font-family: var(--paragraph-font);
    font-size: 1.2em;
}

.resume-info {
    border: var(--secondary-color) solid 7px;
    border-radius: 5em;
    margin: 15px;
    padding: 0 2em 0 2em;
    background-color: var(--accent2-color);
    font-size: 1.em;
}

#edu-info {
    grid-column: 1/2;
    grid-row: 1/2;
}

#exp-info {
    grid-column: 2/3;
    grid-row: 1/2;
}

#leadership-info {
    grid-column: 1/2;
    grid-row: 2/3;
}

#skills-info {
    grid-column: 2/3;
    grid-row: 2/3;
}