#nav-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 30px 100px;
}

#home-icon {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
}

#home-pic {
    height: 100px;
}

#nav-btns {
    grid-column: 3/4;
    grid-row: 2/3;
    margin: 0 auto;
    align-self: center;
}

#home-btn, #prot-btn, #resu-btn {
    margin: 50px;
}

