body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#pic {
  grid-column: 1/2;
  grid-row: 1/3;
}

#first-txt {
  grid-column: 1/3;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
  font-size: 170px;
  z-index: 1;
}

#second-txt {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
  font-size: 100px;
  color: darkred;
}

#sec-col {
  background-color: grey;
  grid-column: 2/3;
  grid-row: 1/3;
}